<!DOCTYPE html>
<html>
    <head>
        <title>Sales Employees</title>
    </head>
    <body>
        <h1>Sales Employees</h1>
        <table>
            <tr>
                <th style="padding:10px">Sales Employee Name</th>
                <th style="padding:10px">Salary</th>
                <th style="padding:10px">National Insurance Number</th>
                <th style="padding:10px">Bank Account Number</th>
                <th style="padding:10px">Commission Rate</th>
            </tr>
            {% for employee in salesEmployees %}
            <tr>
                <td style="padding:10px">{{ employee.name }}</td>
                <td style="padding:10px">£{{ employee.salary }}</td>
                <td style="padding:10px">{{ employee.bankAccountNumber }}</td>
                <td style="padding:10px">{{ employee.natInsurance }}</td>
                <td style="padding:10px">{{ employee.commRate }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>