<!DOCTYPE html>
<html>
    <head>
        <title>Sales Employee List</title>
    </head>
    <body>
        <h1>Sales Employees</h1>
        <table>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Salary</th>
                <th>Bank Account Number</th>
                <th>NationalInsuranceNumber</th>
                <th>Commission Rate</th>
            </tr>
                
            <tr>
            
                <td>{{ salesemployee.employeeId}}</td>
                <td>{{ salesemployee.employeeName}}</td>
                <td>{{ salesemployee.employeeSalary}}</td>
                <td>{{ salesemployee.employeeBankAccountNumber}}</td>
                <td>{{ salesemployee.employeeNationalInsuranceNumber}}</td>
                <td>{{ salesemployee.commRate}}</td>



            </tr>
            
        </table>    
        
    </body>
</html>